Room((
    environment: Production,
    rarity: Uncommon,
    parts: {
        "d0e0b971-84a8-40e5-a7f8-0fb8a668fc76": (
            uuid: "d0e0b971-84a8-40e5-a7f8-0fb8a668fc76",
            transform: (
                translation: (-10.833314, 6.610011, 0.0),
                rotation: (-0.5, 0.49999997, 0.49999997, 0.4999999),
                scale: (9.999999, 2.3038018, 9.999999),
            ),
            data: Portal(
                direction: Exit,
            ),
        ),
        "a0345b51-66f4-4582-b373-c08a93d6d820": (
            uuid: "a0345b51-66f4-4582-b373-c08a93d6d820",
            transform: (
                translation: (0.043064117, 2.4541912, -1.6768951),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (1.0, 1.0, 1.0),
            ),
            data: Spawnpoint,
        ),
        "faa96615-4a65-42d7-b667-bdd657a7a2ee": (
            uuid: "faa96615-4a65-42d7-b667-bdd657a7a2ee",
            transform: (
                translation: (-0.44461632, 7.934252, 10.8159),
                rotation: (0.7071068, -0.000000062082606, -0.00000000026536995, -0.7071067),
                scale: (10.0, 1.0, 10.0),
            ),
            data: Portal(
                direction: Entrance,
            ),
        ),
        "45fa189c-c1e5-4747-80aa-22cace6cfbb7": (
            uuid: "45fa189c-c1e5-4747-80aa-22cace6cfbb7",
            transform: (
                translation: (0.0, 11.496904, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (5.4079504, 5.4079504, 5.4079504),
            ),
            data: Stl(
                path: "assets/stl/default.stl",
                material: BrownRock,
                vertices: [
                    (1.9999998, -1.9999999, -2.0),
                    (1.9999998, 1.9999999, -2.0),
                    (2.0, 1.9999998, 1.9999995),
                    (2.0, -1.9999999, 1.9999996),
                    (-1.9999998, 1.9999999, 2.0),
                    (-1.9999998, -1.9999999, 2.0),
                    (-2.0, 1.9999999, -1.9999996),
                    (-2.0, -1.9999998, -1.9999995),
                ],
                indices: [
                    0,
                    1,
                    2,
                    0,
                    2,
                    3,
                    3,
                    2,
                    4,
                    3,
                    4,
                    5,
                    5,
                    4,
                    6,
                    5,
                    6,
                    7,
                    7,
                    6,
                    1,
                    7,
                    1,
                    0,
                    3,
                    5,
                    7,
                    3,
                    7,
                    0,
                    4,
                    2,
                    1,
                    4,
                    1,
                    6,
                ],
                geometry_hash: 16571611132450098372,
                vhacd_parameters: (
                    concavity: 0.01,
                    alpha: 0.05,
                    beta: 0.05,
                    resolution: 64,
                    plane_downsampling: 4,
                    convex_hull_downsampling: 4,
                    fill_mode: FloodFill(
                        detect_cavities: false,
                    ),
                    convex_hull_approximation: true,
                    max_convex_hulls: 1024,
                ),
            ),
        ),
        "6ef54632-ed15-496d-a4be-76d3e6c10d2a": (
            uuid: "6ef54632-ed15-496d-a4be-76d3e6c10d2a",
            transform: (
                translation: (0.11967543, 5.857161, -10.815898),
                rotation: (0.70710677, -0.00000003166108, -0.000000031661077, -0.70710677),
                scale: (10.0, 0.99999994, 9.867984),
            ),
            data: Portal(
                direction: Exit,
            ),
        ),
        "024debbb-7c4f-49ff-9880-a33946f4b4d4": (
            uuid: "024debbb-7c4f-49ff-9880-a33946f4b4d4",
            transform: (
                translation: (10.789755, 6.6379943, 0.0),
                rotation: (-0.5, 0.49999997, 0.49999997, 0.4999999),
                scale: (9.999999, 2.3423777, 9.999999),
            ),
            data: Portal(
                direction: Entrance,
            ),
        ),
    },
))