Room((
    environment: Development,
    rarity: Uncommon,
    parts: {
        "eef6a65a-a4ca-493c-b781-66a2ca6234bb": (
            uuid: "eef6a65a-a4ca-493c-b781-66a2ca6234bb",
            transform: (
                translation: (0.0, 7.6821065, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (8.479419, 2.0666356, 2.84587),
            ),
            data: Stl(
                path: "assets/stl/default.stl",
                material: BrownRock,
                vertices: [
                    (1.9999998, -1.9999999, -2.0),
                    (1.9999998, 1.9999999, -2.0),
                    (2.0, 1.9999998, 1.9999995),
                    (2.0, -1.9999999, 1.9999996),
                    (-1.9999998, 1.9999999, 2.0),
                    (-1.9999998, -1.9999999, 2.0),
                    (-2.0, 1.9999999, -1.9999996),
                    (-2.0, -1.9999998, -1.9999995),
                ],
                indices: [
                    0,
                    1,
                    2,
                    0,
                    2,
                    3,
                    3,
                    2,
                    4,
                    3,
                    4,
                    5,
                    5,
                    4,
                    6,
                    5,
                    6,
                    7,
                    7,
                    6,
                    1,
                    7,
                    1,
                    0,
                    3,
                    5,
                    7,
                    3,
                    7,
                    0,
                    4,
                    2,
                    1,
                    4,
                    1,
                    6,
                ],
                geometry_hash: 1859124261011961951,
                vhacd_parameters: (
                    concavity: 0.01,
                    alpha: 0.05,
                    beta: 0.05,
                    resolution: 64,
                    plane_downsampling: 4,
                    convex_hull_downsampling: 4,
                    fill_mode: FloodFill(
                        detect_cavities: false,
                    ),
                    convex_hull_approximation: true,
                    max_convex_hulls: 1024,
                ),
            ),
        ),
        "b688e627-46d1-41e6-bdd0-9f26b18e6866": (
            uuid: "b688e627-46d1-41e6-bdd0-9f26b18e6866",
            transform: (
                translation: (-16.958578, 7.6308923, 0.0),
                rotation: (-0.49999997, -0.49999997, -0.49999997, 0.49999997),
                scale: (11.710848, 0.99999964, 8.334983),
            ),
            data: Portal,
        ),
        "0e8e23e6-6618-4e73-94d6-437756631be2": (
            uuid: "0e8e23e6-6618-4e73-94d6-437756631be2",
            transform: (
                translation: (16.924204, 7.7289352, 0.0),
                rotation: (0.5000001, -0.49999988, -0.49999988, -0.5000001),
                scale: (11.303073, 1.0, 8.3638315),
            ),
            data: Portal,
        ),
        "e6e5bebc-b54d-4230-9d36-e7d33b541938": (
            uuid: "e6e5bebc-b54d-4230-9d36-e7d33b541938",
            transform: (
                translation: (0.0, 11.635254, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (5.0027485, 5.0027485, 5.0027485),
            ),
            data: Stl(
                path: "assets/stl/default.stl",
                material: BrownRock,
                vertices: [
                    (1.9999998, -1.9999999, -2.0),
                    (1.9999998, 1.9999999, -2.0),
                    (2.0, 1.9999998, 1.9999995),
                    (2.0, -1.9999999, 1.9999996),
                    (-1.9999998, 1.9999999, 2.0),
                    (-1.9999998, -1.9999999, 2.0),
                    (-2.0, 1.9999999, -1.9999996),
                    (-2.0, -1.9999998, -1.9999995),
                ],
                indices: [
                    0,
                    1,
                    2,
                    0,
                    2,
                    3,
                    3,
                    2,
                    4,
                    3,
                    4,
                    5,
                    5,
                    4,
                    6,
                    5,
                    6,
                    7,
                    7,
                    6,
                    1,
                    7,
                    1,
                    0,
                    3,
                    5,
                    7,
                    3,
                    7,
                    0,
                    4,
                    2,
                    1,
                    4,
                    1,
                    6,
                ],
                geometry_hash: 1859124261011961951,
                vhacd_parameters: (
                    concavity: 0.01,
                    alpha: 0.05,
                    beta: 0.05,
                    resolution: 64,
                    plane_downsampling: 4,
                    convex_hull_downsampling: 4,
                    fill_mode: FloodFill(
                        detect_cavities: false,
                    ),
                    convex_hull_approximation: true,
                    max_convex_hulls: 1024,
                ),
            ),
        ),
    },
))