Room((
    environment: Development,
    rarity: Uncommon,
    parts: {
        "1628f6c3-edd0-4a6f-acdd-94a87a2afe5f": (
            uuid: "1628f6c3-edd0-4a6f-acdd-94a87a2afe5f",
            transform: (
                translation: (-6.933816, 6.0808473, 0.0),
                rotation: (-0.49999997, -0.49999997, -0.49999997, 0.49999997),
                scale: (10.0, 1.0, 10.0),
            ),
            data: Portal(
                direction: Entrance,
            ),
        ),
        "7078ac81-43cb-4dd6-89fd-5d9383838bfd": (
            uuid: "7078ac81-43cb-4dd6-89fd-5d9383838bfd",
            transform: (
                translation: (0.0, 6.1968, 0.0),
                rotation: (0.0, 0.0, 0.0, 1.0),
                scale: (3.41119, 3.41119, 3.41119),
            ),
            data: Stl(
                path: "assets/stl/default.stl",
                material: BrownRock,
                vertices: [
                    (1.9999998, -1.9999999, -2.0),
                    (1.9999998, 1.9999999, -2.0),
                    (2.0, 1.9999998, 1.9999995),
                    (2.0, -1.9999999, 1.9999996),
                    (-1.9999998, 1.9999999, 2.0),
                    (-1.9999998, -1.9999999, 2.0),
                    (-2.0, 1.9999999, -1.9999996),
                    (-2.0, -1.9999998, -1.9999995),
                ],
                indices: [
                    0,
                    1,
                    2,
                    0,
                    2,
                    3,
                    3,
                    2,
                    4,
                    3,
                    4,
                    5,
                    5,
                    4,
                    6,
                    5,
                    6,
                    7,
                    7,
                    6,
                    1,
                    7,
                    1,
                    0,
                    3,
                    5,
                    7,
                    3,
                    7,
                    0,
                    4,
                    2,
                    1,
                    4,
                    1,
                    6,
                ],
                geometry_hash: 16571611132450098372,
                vhacd_parameters: (
                    concavity: 0.01,
                    alpha: 0.05,
                    beta: 0.05,
                    resolution: 64,
                    plane_downsampling: 4,
                    convex_hull_downsampling: 4,
                    fill_mode: FloodFill(
                        detect_cavities: false,
                    ),
                    convex_hull_approximation: true,
                    max_convex_hulls: 1024,
                ),
            ),
        ),
    },
))